.dark-blue-bg{
    background-color: #111343;
}

.team-header-overlay{
    position: relative;
    z-index: 1;
}.team-header-overlay::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #c63fa4;
    opacity: 0.9; 
    background-image:-webkit-linear-gradient(90deg, #111343 0%, #000 100%);
    background-image: -moz-linear-gradient(90deg, #111343 0%, #000 100%);
    background-image: -ms-linear-gradient(90deg, #111343 0%, #000 100%)
}

.inverse-header-overlay{
    position: relative;
    z-index: 1;
}.inverse-header-overlay::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #c63fa4;
    opacity: 0.9; 
    background-image: -moz-linear-gradient(120deg, #eb0028 0%, #505add 0%);
    background-image: -webkit-linear-gradient(120deg, #eb0028 0%, #505add 0%);
    background-image: -ms-linear-gradient(120deg, #eb0028 0%, #505add 0%);
}



.single-welcome-slide .welcome-text h3{
    position: relative;
    z-index: 1;
    font-weight: 300;
    font-size: 90px;
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

.x-factor{
    color: rgb(235, 0, 40);
    font-size: 50px;
    position: absolute;
    padding-top: 15px;
}

.contact-section, .about-section, .speaker-section, .sponsor-section{
    padding-top: 200px;
}

.contact-bg{
    background-image:-webkit-linear-gradient(270deg, #484848 0%, #fff 25%);
    background-image: -moz-linear-gradient(270deg, #484848 0%, #fff 25%);
    background-image: -ms-linear-gradient(270deg, #484848 0%, #fff 25%)
}

.nabarlogo {
    width: 30%;
}

.bold-me{
    font-weight: 700;
    color: #fff;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }
    @keyframes blink-animation {
        to {
        visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
        visibility: hidden;
        }
  }

.speaker-info-card{
    background-color: #fff;
}
@media only screen and (min-width: 990px) {
    .copywrite-text{
        text-align: start;
    }
}
@media only screen and (max-width: 990px) {
    .nabarlogo {
        width: 50%;
    }
    .single-welcome-slide .welcome-text h3{
        font-size: 40px;
    }
    .single-welcome-slide .welcome-text h2 {
        font-size: 50px;
    }
    .x-factor{
        font-size: 20px;
        padding-top: 10px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 990px) {
    .nabarlogo {
        width: 60%;
    }
    .single-welcome-slide .welcome-text h3{
        font-size: 60px;
    }
    .x-factor{
        font-size: 30px;
        padding-top: 10px;
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .nabarlogo {
        width: 70%;
    }
    .single-welcome-slide .welcome-text h3{
        font-size: 40px;
    }
    
}